In [ ]:
#TASK 1
import pandas as pd
import numpy as np

data = np.random.rand(4, 4)

df = pd.DataFrame(data, columns=['Feature1', 'Feature2', 'Feature3', 'Feature4'])

print(df)

   Feature1  Feature2  Feature3  Feature4
0  0.289195  0.970269  0.675010  0.120624
1  0.073020  0.999898  0.792445  0.021880
2  0.751365  0.378544  0.087780  0.602956
3  0.151720  0.360585  0.362715  0.620462

In [ ]:
#TASK 2
df.rename(columns={'Feature1': 'Random value 1', 'Feature2': 'Random value 2', 'Feature3': 'Random value 3', 'Feature4': 'Random value 4'}, inplace=True)


print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.289195        0.970269        0.675010        0.120624
1        0.073020        0.999898        0.792445        0.021880
2        0.751365        0.378544        0.087780        0.602956
3        0.151720        0.360585        0.362715        0.620462

In [ ]:
#TASK 3
descriptive_stats = df.describe()

print(descriptive_stats)

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.316325        0.677324        0.479487        0.341481
std          0.303473        0.355651        0.317932        0.314707
min          0.073020        0.360585        0.087780        0.021880
25%          0.132045        0.374054        0.293982        0.095938
50%          0.220457        0.674406        0.518863        0.361790
75%          0.404737        0.977676        0.704368        0.607332
max          0.751365        0.999898        0.792445        0.620462

In [ ]:
#TASK 4
null_values = df.isnull().sum()

data_types = df.dtypes

print("Null Values:")
print(null_values)
print("\nData Types:")
print(data_types)

Null Values:
Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

Data Types:
Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [ ]:
#TASK 5
# Using location method
selected_columns_loc = df.loc[:, ['Random value 2', 'Random value 3']]
print(selected_columns_loc)

# Using index location method

selected_columns_index_loc = df.iloc[:, [1, 2]]
print(selected_columns_index_loc)

   Random value 2  Random value 3
0        0.970269        0.675010
1        0.999898        0.792445
2        0.378544        0.087780
3        0.360585        0.362715
   Random value 2  Random value 3
0        0.970269        0.675010
1        0.999898        0.792445
2        0.378544        0.087780
3        0.360585        0.362715